<div id="<%= dom_id player_score %>">
  <p>
    <strong>Player:</strong>
    <%= player_score.player_id %>
  </p>
  <p>
    <strong>Team match:</strong>
    <%= player_score.team_match_id %>
  </p>
  <p>
    <strong>Score:</strong>
    <%= player_score.score %>
  </p>
  <h1>Player Score Details</h1>
  <p><strong>Player:</strong> <%= @player_score.player.name %></p>
  <p><strong>Score:</strong> <%= @player_score.score %></p>
  <h2>Set Scores</h2>
  <table>
    <thead>
      <tr>
        <th>Set Number</th>
        <th>Player 1 Games</th>
        <th>Player 2 Games</th>
      </tr>
    </thead>
    <tbody>
      <% @set_scores.each do |set_score| %>
        <tr>
          <td><%= set_score.set_number %></td>
          <td><%= set_score.player1_games %></td>
          <td><%= set_score.player2_games %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Back to Player Scores', team_match_player_scores_path(@player_score.team_match) %>
</div>
